<div
    class="md:col-span-11 text-center mt-8 pb-8 text-xs font-light text-text font-spectral"
>
    <hr class="border-t-8 border-mutedText border-opacity-20 mb-8" />
    <p>2025 © Naman Shukla. All Rights Reserved.</p>
</div>
