<div
    class="md:col-span-11 text-center mt-8 pb-8 text-xs font-light text-text dark:text-darkText font-spectral"
>
    <hr
        class="border-t-8 border-mutedText dark:border-darkMutedText border-opacity-20 mb-8"
    />
    <p>2025 © Naman Shukla. All Rights Reserved.</p>
</div>
