<div id="aboutme">
    <h3
        class="text-2xl font-medium my-4 font-eb-garamond tracking-wide text-text"
    >
        👋 About me
    </h3>
    <div
        class="text-justify font-light text-sm leading-relaxed text-text font-spectral"
    >
        <p class="mb-2">
            Naman is a
            <a
                href="https://www.heap.io/topics/what-does-a-product-manager-do"
                target="_blank"
                class="no-underline text-primary font-medium hover:text-primary hover:opacity-80 transition-colors"
            >
                Senior Product Manager
            </a>
            in the data science team at
            <a
                href="https://www.engine.com/"
                target="_blank"
                class="no-underline text-primary font-semibold"
            >
                Engine</a
            >, where he own building advanced pricing strategies. He drives the
            development of pricing models and machine learning solutions that
            optimize decision-making frameworks and deliver business value.
        </p>

        <p class="mb-2">
            Before joining Engine, Naman was a Product Manager in the Applied
            Science team at
            <a
                href="https://flyrlabs.com/"
                target="_blank"
                class="no-underline text-primary font-semibold"
            >
                FLYR Inc.</a
            >, where he led a team of data scientists to develop machine
            learning models that enhanced airline revenue management systems. He
            spearheaded efforts to implement statistical models leveraging
            contextual information to optimize pricing strategies for airlines.
        </p>

        <p class="mb-2">
            Naman's research expertise lies in dynamic pricing with contextual
            information, where he developed innovative algorithms and
            computational techniques to analyze revenue management data. His
            work has been published in renowned journals, including the Journal
            for Applied Analytics by the Institute for Operations Research and
            the Management Sciences (INFORMS) and the Airline Group of the
            International Federation of Operational Research Societies
            (AGIFORS).
        </p>

        <p class="mb-2">
            His experience extends to roles such as Machine Learning Engineer,
            Research Infrastructure Manager, and Software Engineer at Deepair,
            where he built tools and frameworks utilized by global airlines and
            academic institutions like the University of Illinois at
            Urbana-Champaign, Imperial College London, and the University of
            Notre Dame. Notably, he was part of the team that secured New
            Distribution Capability (NDC) Level 4 certification from the
            International Air Transport Association (IATA).
        </p>

        <p class="mb-2">
            Naman holds a Master of Science in Industrial Engineering from the
            University of Illinois at Urbana-Champaign. He is a recipient of the
            Japan Student Services Organization (JASSO) scholarship for the
            Innovation Program at the University of Tokyo, Japan, and the
            Computational Biology Scholarship for Associate Researchers at
            Ritsumeikan University, Japan. He earned a Bachelor of Technology in
            Chemical Engineering and a Minor in Entrepreneurship, both with
            academic excellence awards, from the Indian Institute of Technology,
            Hyderabad.
        </p>
    </div>
</div>
